<div class="parent-container">
  <div class="container container-home text-center">
    <h1 class="display-5 fw-bold text-body-emphasis mb-5 gradient-text">Letter Race</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        A fun race to test your typing speed. <br />
        To start typing click on the Start button
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button class="cssbuttons-io-button">
          Get started
          <div class="icon">
            <svg
              height="24"
              width="24"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                fill="currentColor"
              ></path>
            </svg>
          </div>
        </button>

      </div>
    </div>
  </div>
</div>
